div.gallery-wrapper { 
	display : grid;
	grid-template-columns : 1fr;
	grid-column-gap : 8px;
	grid-row-gap : 8px;
	padding: 8px 0;
}

div.gallery-preview { 
	position: relative; 
	cursor : pointer;
}

img.gallery-preview-mini { 
	width: 100%;
	height: auto;
}

span.gallery-preview-name {  
	left: 0;
	position: absolute;
	height: 32px;
	width: 100%;
	bottom: 0;
	background: linear-gradient( 90deg, transparent, rgba( 51, 51, 51, 0.9 ), rgba( 51, 51, 51, 0.9 ), transparent );
	line-height: 32px;
	font-size: 16px;
	text-align: center;
}

@media screen and ( min-width : 640px ) {
	div.gallery-wrapper { grid-template-columns : repeat( 4, 1fr ); }
	img.gallery-preview-mini { width: 90%; }
}

div.preview-wrapper { 
	display : none; 
}

div.preview-aplat {
	position : fixed;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	background : #000;
	opacity : 70%;
}

div.preview-box { position : absolute; }

span.preview-box-title {
	position : absolute;
	height: 32px;
	line-height : 32px;
	font-size: 16px;
	text-align : center;
	left : 0;
	right: 0;
	width : auto;
	text-shadow: #333 1px 0 5px;
	background : linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, transparent 100%);
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none;
}

span.preview-box-close {
	position : absolute;
	cursor : pointer;
	height : 32px;
	width : 32px;
	top : 2px;
	right : 2px;
}

span.preview-box-close svg {
	top: 4px;
	bottom: 4px;
	left: 4px;
	right: 4px;
	margin: auto;
}

span.preview-box-close svg path { fill : #333; }

span.preview-box-close:hover svg path { fill : #000; }

div.preview-box-wrapper { 
	padding : 4px;
	background : #fff;
}

div.preview-box-list {
	position : absolute;
	overflow : hidden;
	bottom : -128px;
	height : 128px;
	width : 100%;
	background : linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, transparent 100%);
}

span.preview-box-list-left,
span.preview-box-list-right {  
	position : absolute;
	cursor : pointer;
	height : 100%;
	width : 32px;
}

span.preview-box-list-left svg ,
span.preview-box-list-right svg {
	position: relative;
	top: 48px;
}

span.preview-box-list-right { right : 0; }

span.preview-box-list-left:hover,
span.preview-box-list-right:hover {
	background : linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
}  

div.preview-box-list-content {
	position: absolute;
	left: 40px;
	width : 5000px;
	height : 128px;
	padding-top: 8px;
}

img.preview-box-list-content-image {
	cursor : pointer;
	margin-right : 8px;
	height : 108px;
	width : 108px;
	border : 2px solid transparent;
}

img.preview-box-list-content-image.current { 
	opacity : 50%;
	border-color : #fff;
}

img.preview-box-list-content-image:hover { border-color:  #fff; }
