/*----------------------------------------------------
 * 			GALLERY PAGE DESIGN
 *----------------------------------------------------*/
div.gallery-wrapper { 
	margin-left : 16px;
	margin-right : 16px;
	margin-top: 132px;
	width : auto;
	display : -webkit-box;
	display : flex;
	box-sizing : border-box;
	flex-direction : row;
	flex-wrap : wrap;
}

div.gallery-preview { 
	-webkit-box-flex : 1 1 auto;
	flex : 1 1 auto;
	overflow : hidden;
	-webkit-transition : 0.5s;
	transition : 0.5s;
	margin : 0 2%;
	box-shadow : 0 20px 30px rgba( 0, 0, 0, 0.1 );
	line-height : 0;
	cursor : pointer;
}

div.gallery-preview:hover { background-color : rgba( 241, 242, 246, 0.75 ); }

img.gallery-preview-mini { 
	width : 200%;
	height : calc( 100% - 10vh );
	-o-object-fit : cover;
	object-fit : cover;
	-webkit-transition : 0.5s;
	transition : 0.5s;
}

span.gallery-preview-name { 
	font-size : 3.8vh;
	display : block;
	text-align : center;
	height : 10vh;
	line-height : 2.6;
}

@media screen and ( max-width : 980px ) {
	
	div.gallery-preview { 
		-webkit-box-flex : 1 1 100%;
		flex : 1 1 100%;
	}

}

/*----------------------------------------------------
 * 			GALLERY PREVIEW BOX
 *----------------------------------------------------*/
div.preview-wrapper { display : none; }

div.preview-aplat {
	position : fixed;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	background : #000;
	opacity : 70%;
}

div.preview-box { position : absolute; }

div.preview-loader {
	position : relative;
	width : 128px;
	height : 128px;
	margin : auto;
}

preview-loader svg {
	width : 100%;
	height : 100%;
}

span.preview-box-title {
	position : absolute;
	height : 32px;
	line-height : 32px;
	font-size : 16px;
	text-align : center;
	left : 0;
	right : 0;
	width : auto;
	text-shadow: #333 1px 0 5px;
	background : -webkit-gradient(linear, left top, right top, from(transparent), color-stop(25%, rgba(255, 255, 255, 0.2)), color-stop(75%, rgba(255, 255, 255, 0.2)), to(transparent));
	background : -o-linear-gradient(left, transparent 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, transparent 100%);
	background : linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, transparent 100%);
	-webkit-touch-callout : none; 
    -webkit-user-select : none; 
    -moz-user-select : none; 
    -ms-user-select : none; 
     user-select : none;
}

span.preview-box-close {
	position : absolute;
	cursor : pointer;
	height : 32px;
	width : 32px;
	top : 2px;
	right : 2px;
}

span.preview-box-close svg {
	top : 4px;
	bottom : 4px;
	left : 4px;
	right : 4px;
	margin : auto;
}

span.preview-box-close svg path { fill : #333; }

span.preview-box-close:hover svg path { fill : #000; }

div.preview-box-wrapper { 
	padding : 4px;
	background : rgba( 241, 242, 246, 0.75 );
}

div.preview-box-list {
	position : absolute;
	overflow : hidden;
	bottom : -128px;
	height : 128px;
	width : 100%;
	background : -webkit-gradient(linear, left top, right top, from(transparent), color-stop(25%, rgba(255, 255, 255, 0.2)), color-stop(75%, rgba(255, 255, 255, 0.2)), to(transparent));
	background : -o-linear-gradient(left, transparent 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, transparent 100%);
	background : linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, transparent 100%);
}

span.preview-box-list-left,
span.preview-box-list-right {  
	position : absolute;
	cursor : pointer;
	height : 100%;
	width : 32px;
}

span.preview-box-list-left svg ,
span.preview-box-list-right svg {
	position: relative;
	top: 48px;
}

span.preview-box-list-right { right : 0; }

span.preview-box-list-left:hover,
span.preview-box-list-right:hover {
	background : -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.2)), color-stop(75%, rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0)));
	background : -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
	background : linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
}  

div.preview-box-list-content {
	position : absolute;
	left : 40px;
	width : 5000px;
	height : 128px;
	padding-top : 8px;
}

img.preview-box-list-content-image {
	cursor : pointer;
	margin-right : 8px;
	height : 108px;
	width : 108px;
	border : 2px solid transparent;
}

img.preview-box-list-content-image.current { 
	opacity : 50%;
	border-color : #fff;
}

img.preview-box-list-content-image:hover { border-color:  #fff; }
