div.card-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

div.card {
	position: relative;
	width: 628px;
	height : 336px;
	top: 25%;
	left: 20%;
}

img.card-image { 
	border : 5px solid white; 
	width : 256px;
	height : 256px;
}

div.card-content {
	position: absolute;
	top: 0;
	left: 292px;
	width: 336px;
	height: 336px;
}

span.card-name {
	height: 64px;
	line-height: 64px;
	font-size: 32px;
	text-shadow: white 1px 0 5px;
}

span.card-description {
	position: absolute;
	top: 86px;
	left: 0;
	font-size: 16px;
}
